<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Pipo</string>
    <key>CFBundleExecutable</key>
    <string>PipoApp</string>
    <key>CFBundleIconFile</key>
    <string>PipoIcon.png</string>
    <key>CFBundleIdentifier</key>
    <string>com.jazztinn.pipo</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Pipo</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.3.4</string>
    <key>CFBundleVersion</key>
    <string>7</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 Jazztinn. Pipo is an unofficial student utility.</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>Pipo adds selected LMS deadlines and events to your calendar.</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/Jazztinn/pipo/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>8kvbucAz83Uny7Xwxg6FNxEQZdoaHY0RltHf7u1tAC4=</string>
    <key>SUAllowsAutomaticUpdates</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
</dict>
</plist>
